API_TOKEN=af84cb19121148cbfcd219dd8213dad

OPENAI_API_KEY=


FIRST_TOUCH_PROMPT_ID=pmpt_694a88c0ce708196ae2722f68b452760081b5f35879bbd4e
SCREENING_PROMPT_ID=pmpt_68e8c1edd5a4819681b4685832ce14b707a66b89fccacbaf
CLASSIFIER_PROMPT_ID=pmpt_68e8b47991f0819094f05d51eb5780a10ff88c389be96726
DIALOGUE_RESULT_PROMPT_ID=pmpt_68e8b88526f4819396be91ca2ca0eeb907bf75b775700bf1
SCREENING_AUTOFILL_PROMPT_ID=pmpt_68cbf36344948194ab74e4c48875b2510e0d6b5f0cbf6902

WAZZUP_API_KEY=

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=

SORREL_API_URL=https://app.shavel.ai/api/v1
SORREL_API_TOKEN=

TG_BOT_TOKEN=
API_BASE_URL=https://george.hlebusheck.ru/
TG_WEBHOOK_URL=https://george.hlebusheck.ru/tg/chatbot-webhook

PUSHGATEWAY_URL=https://push.hlebusheck.ru/
PUSHGATEWAY_LOGIN=admin
PUSHGATEWAY_PASSWORD=